
// Globals
@import './global/global';
@import './global/mixin';


// components 
@import './components/header.scss';
@import './components/body1.scss';
@import './components/body2.scss';
@import './components/body3.scss';
@import './components/footer.scss';
